.container {
    display: grid;
    grid-template-columns: 1fr 1fr 4fr;
    height: 10vh;
    text-align: center;
}
.stored-value {
    grid-column-end: span 2;
}
.container2 {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
}